h1 {
	padding-bottom: 20px;
	margin:30px;
}

#signupBg {
	background-color: #fff;
	height: 500px;
}

#oauth-buttons {
	background: url('https://c.tadst.com/gfx/750x500/sunrise.jpg?1');
	height: 500px;
}

#snetwork {
	color: #fff;
	text-align: center;
}

.social-buttons {
    width: 300px;
    height: 50px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 30px;
}

#welcome {
	background-color: #fff;
	min-height: 500px;
}